 /* FORM STYLE */
form#myform {
    border-radius: 5px;
     max-width: 600px;
    margin: 2rem auto;
    padding: 1.5rem;
    transition: box-shadow .3s ease;
}
form#myform:hover {
      box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.1);
}
/* input style */
input { 
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    height: 35px;
 }
#connect {
    padding: .6em;
}
::placeholder{
    color: var(--bg-color);
    font-family: inherit;
    font-size: .99rem;
font-weight: 500; 
}
input:focus, select:focus, button:focus {
border: 2px solid #1E2A38;
}
input, select {
    padding: .5rem;
 }
input:hover, select:hover, button:focus {
box-shadow: 0 0 2px 2px #d4af372c;
}
input[type="date"] {
    margin-bottom: 1.1rem;
}
.error-message {
    color: #87CEEB;
    font-size: .60em;
    font-weight: bold;
    margin-top: 4px;
}
/* =====INPUT STYLE END===== */
  
 /*======FIELDSET AND UL STYLE====== */
fieldset {
    margin: 0;
    border:  none;
}
.fieldset1 {
    margin-bottom: 1.2rem;
}
fieldset ul.form-grid {
    gap: 1rem;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr) ;
    grid-template-rows: auto;
    width: fit-content;
}
ul li { 
    display: flex;
    flex-direction: column;
    margin: .05em;
    list-style-type: none;
 }
 ul.companyname {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    gap: .2rem;
 }
ul.duration {
    max-width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    gap: 1rem;
    grid-template-rows: auto;
    grid-template-columns: repeat(2, 1fr);
}
 
label, legend {
    text-align: left;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: 400;

 }
.flexlabel input {
    display: flex;
    flex-direction: row;
}/*======FIELDSET STYLE END=====*/
ul.terms   {
    display: inline-block;
    flex-direction: column;
}

.owner {
    width: 100%;
}
/* =====SELECT STYLE========= */
select {
    border-radius: .4rem;
    margin-bottom: 1.1rem;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #ccc;
    color: #333;
    height: 35px;
 }
 select option {
    background-color: #333;
    color: #fff;
}
 select.studentoption, select#regprogram, select#country, select#duration  {
    width: 100%;
}
.checkbox {
    width: unset;
    margin-right: .4rem;
}
/* ===SELECT STYLE END=======*/
span {
    color: red;
}
.mtop {
    margin-top: 0.9em;
}
/*  */
 #flexlabel {
    font-size: .65em;
    margin-top: 1rem;
 }
/*=====FORM STYLE END===== */
 
 
.flexa {
    margin: auto .4em;
}
label#flexlabel, .flexa  { 
    display: inline-flex;
    align-items: center;
 }
@media screen and (max-width: 350px) {
    .form-grid {
        grid-template-columns: 1fr;
    }
}
 #error-message {
    display: none;
 }
@media screen and (min-width:600px) {
    fieldset ul.form-grid {
        width: 100%;
    }   
   /*  input, select {
        padding: .7rem;
     } */
    label, legend {
         font-size: 1.1em;
     }
    #flexlabel {
        font-size: 1rem;
      }
    
    .error-message {
      
        font-size: 1em;
         
    }
    ::placeholder {
        font-size: 1.1em;
    }
    
    .formp {
        font-size: 1.2em;
    }
  /*   input, select, button {
     } */
    
    #flexlabel {

        font-size: unset;
     }
}