 /* FORM STYLE */
form#contactform {
    border-radius: 5px;
    max-width: 600px;
    margin: 2rem auto;
    padding: 1.5rem;
    transition: box-shadow .3s ease;
    border: 1px solid #ccc;
}
form#contactform:hover {
      box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.1);
}
/* input style */
input { 
    width: 100%;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    height: 35px;
    padding: 10px 12px;
 }
 
::placeholder{
    color: var(--bg-color);
    font-family: inherit;
    font-size: .79rem;
    font-weight: 300; 
 }
input:focus, select:focus, button:focus, textarea:focus {
    border: 1px solid hsl(209, 28%, 39%);
}
 
input:hover, select:hover, button:hover, textarea:hover {
    border: 1px solid #ccc;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
}

label  {
    text-align: left;
    margin: .85rem 0;
    padding: 0;
    font-size: 1rem;
    font-weight: 400;
    display: block;
 }
 textarea {
    display: block;
    width: 100%;
    border: none;
 }
 /* =====INPUT STYLE END===== */

 /* error message */
.error-message {
    color: #87CEEB;
    font-size: .60em;
    font-weight: bold;
    margin-top: 4px;
}
#error-message {
    display: none;
 }
/* =====SELECT STYLE========= */
select {
    border-radius: .4rem;
    margin-bottom: 1rem;
    box-sizing: border-box;
    background-color: #fff;
    border: none;
    color: #333;
    width: 100%;
    height: 35px;
 }
 select option {
    background-color: #333;
    color: #fff;
}
/* ===SELECT STYLE END=======*/

 
 /* form button */
 #contactBtn {
    padding: 12px 15px;
    cursor: pointer;
    font-weight: 600;
    width: 100%;
    border: none;
    background-color: var(--clr-grey-2);
    color: #ffffff;
    border-radius: 8px;
 }
 #contactBtn:hover {
background-color: var(--clr-grey-1);
 }