/* Basic reset */
*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Root style */
:root {
    --background-color:#0B0146;/* Deep Navy Blue */
    --accent-color:#EB2C39; /* bright Red */
    --gradient-start:#FA5C4F;/*  */
    --gradient-end:#B0162F;/*  */
    --primary-color:#F1F1F1;/* Light Grey */
    --text-color:#FFFFFF;/* White */
}
 
:root {
    /* dark shades of primary color*/
    --clr-primary-1: hsl(205, 86%, 17%);
    --clr-primary-2: hsl(205, 77%, 27%);
    --clr-primary-3: hsl(205, 72%, 37%);
    --clr-primary-4: hsl(205, 63%, 48%);
    /* primary/main color */
    --clr-primary-5: hsl(205, 78%, 60%);
    /* lighter shades of primary color */
    --clr-primary-6: hsl(205, 89%, 70%);
    --clr-primary-7: hsl(205, 90%, 76%);
    --clr-primary-8: hsl(205, 86%, 81%);
    --clr-primary-9: hsl(205, 90%, 88%);
    --clr-primary-10: hsl(205, 100%, 96%);
    /* darkest grey - used for headings */
    --clr-grey-1: hsl(209, 61%, 16%);
    --clr-grey-2: hsl(211, 39%, 23%);
    --clr-grey-3: hsl(209, 34%, 30%);
    --clr-grey-4: hsl(209, 28%, 39%);
    /* grey used for paragraphs */
    --clr-grey-5: hsl(210, 22%, 49%);
    --clr-grey-6: hsl(209, 23%, 60%);
    --clr-grey-7: hsl(211, 27%, 70%);
    --clr-grey-8: hsl(210, 31%, 80%);
    --clr-grey-9: hsl(212, 33%, 89%);
    --clr-grey-10: hsl(210, 36%, 96%);
    --clr-white: #fff;
    --clr-red-dark: hsl(360, 67%, 44%);
    --clr-red-light: hsl(360, 71%, 66%);
    --clr-green-dark: hsl(125, 67%, 44%);
    --clr-green-light: hsl(125, 71%, 66%);
    --clr-black: #222;
    --ff-primary: "Roboto", sans-serif;
    --ff-secondary: "Open Sans", sans-serif;
    --transition: all 0.3s linear;
    --spacing: 0.1rem;
    --radius: 0.25rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 1170px;
    --fixed-width: 620px;
  }
/* Font face */
@font-face {
    font-family: 'Montserrat';
    src: url(/fonts/Montserrat-ExtraBold.ttf) format('truetype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url(/fonts/Montserrat-Bold.ttf) format('truetype');
    font-weight: 700;
}
@font-face {
    font-family: 'Lato';
    src: url(/fonts/Lato-Light.ttf) format('truetype');
    font-weight: 300;
}
@font-face {
    font-family: 'Lato';
    src: url(/fonts/Lato-Regular.ttf) format('truetype');
    font-weight: 400;
}
/* General style */
html {
    scroll-behavior: smooth;
    font-size: 100%;
}
body {
    color: var(--clr-grey-1);
    background-color: var(--clr-grey-10);
    font: normal 400 .995rem / 1.5 'Lato', sans-serif;
}
/* heading style */
h1, h2, h3 {
    letter-spacing: var(--spacing);
    line-height: 1.25;
    font-family: 'Montserrat';
    font-weight: 800;
    text-transform: capitalize;
}
h1, h2 {
    margin: 1.25rem 0;
}
h3, h4 {
    margin-bottom: .55rem;
}
h1 {font-size: 1.5rem;}
 
/* heading style end */
header {
    z-index: 100;
     height: auto;
    width: 100%;
    top: 0;
    left: 0;
}
 header.stickyHeader {
     position: sticky;
 }
/* navigation style */
 nav, footer {
    background-color: var(--clr-white);
    box-shadow: var(--light-shadow);
 }
 div.nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
 }
 .nav-toggle {
    font-size: 1.5rem;
    color: var(--clr-primary-5);
    background: transparent;
    border-color: transparent;
    transition: var(--transition);
    cursor: pointer;
 }
 .nav-toggle:hover{
    color: var(--clr-primary-1);
    transform: rotate(180deg);
 }
 .logo {
    height: 40px;
 }
 .links a {
    text-decoration: none;
    color: var(--clr-grey-3);
    font-size: 1rem;
    text-transform: capitalize;
    letter-spacing: var(--spacing);
    display: block;
    padding: 0.5rem .7rem;
    transition: var(--text-color);
 }
 .links a:visited {
text-decoration: none;
color: var(--clr-grey-4);
 }
 .links a:hover {
text-decoration: none;
color: var(--clr-primary-5);
background-color: var(--clr-primary-8);
padding-left: 1.5rem;
text-decoration: underline;
 }
 .links a:active {
    color: var(--clr-primary-1);
 }
 .links {
    height:0;
    overflow: hidden;
    transition: height .3s ease-in-out;
 }
 .show-links {
    height: auto;
 }
 nav ul li {
    list-style-type: none;
 }
   
/* Main styles */
main {
    min-height: 100vh;
    display: grid;
    place-items: center;
  }
    
.hero {
     width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--clr-primary-10);
    padding: 60px 0;
    margin-bottom: 5rem;
    transition: var(--transition);
 }

.container {
    width: 96%;
    max-width: var(--max-width);
    margin: auto;
}
.h1-a {
    color: inherit;
    text-decoration: none;
}

/* primary buttons style */
 .btn {
    display: inline-block;
    background-color: rgb(40, 60, 80);
    color: var(--clr-white);
    font-size: 1rem;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    width: fit-content;
    font-weight: 500;
    border-radius: 5px;
    text-decoration: none;
    outline: none;
    border: none;
    cursor:  pointer;
    transition: var(--transition);
    text-transform: capitalize;
}
  .btn:hover {
    transform: scale(1.10);
    box-shadow: var(--light-shadow);
    background-color: var(--clr-grey-3);
    color: var(--clr-primary-10);
 }
 div.btns {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    align-items: center;
    justify-content: space-evenly;
 }

 /* GENERAL SECTION & REVIEWS STYLES */

img#aboutImg {
    display: block;
    height: auto;
    max-width: 100%;
    border-radius: 20px;
}
section.section-container {
    display: grid;
    place-items: center;
    width: 90vw;
    max-width: var(--fixed-width);
    margin-bottom: 2rem;
  }
 article.review {
     padding: 1.5rem 2rem;
     border-radius: var(--radius);
     box-shadow: var(--light-shadow);
     transition: var(--transition);
  } 
 article.review:hover {
     box-shadow: var(--dark-shadow); 
 } 
 article.review ul {
    padding: 10px 8px;
    text-align: left;
 }
 article.review ul li {
    margin:.5rem 0 .55rem 0 ;
 }
 /* profile card style */
#Reviews > article.review {
    text-align: center;
}
  
 .title {
    text-align: center;
    margin-bottom: 3rem;
 }
 .underline {
    background-color: var(--background-color);
    margin-left: auto;
    margin-right: auto;
    height: 0.25rem;
    width: 10rem;
 }
 #image-container {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 1.5rem;
 }
 #person-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    position: relative;
 }
#author {
    margin-bottom: .25rem;
  }
  #job {
    margin-bottom: .25rem;
    text-transform: uppercase;
    font-size: 0.85rem;
    color: var(--clr-primary-4);
  }
   .prev-btn, .next-btn {
    background: transparent;
    border-color: transparent;
    font-size: 1.26rem;
    cursor: pointer;
    color: var(--clr-primary-7);
    margin: 0 0.5rem;
    transition: var(--transition);
  }
 /* SECTION REVIEWS STYLES */

/* PAGE SPECIFIC STYLE START */
  /* homepage style */

  #homeHero {
    position: relative;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
background-image: url(images/childcoding.jpg);
  }
  
  #homeHero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6)
  }

#homeHero .container {
    padding:0 .35rem;
    color: white;
    position: relative;
    z-index: 1;
}
#homeHero .container > p.p {
margin-bottom: 1.3rem;
}

article#serviceCardContainer, #mission-section {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    gap: 1rem;
    width: 100%;    
    padding: 18px;
    text-align: center;
 }
 article#serviceCardContainer div.serviceCard, div.mission {
        background: var(--clr-grey-9);
        padding: 10px 12px;
        border-radius: 10px;
        transition: transform .3s ease-in-out;
    }
    div.serviceCard:hover,div.mission:hover {
        transform: translateX(4px) scale(1.01)  ;
    }
    a.secondaryBtn {
        background-color: var(--clr-primary-4);
    }
    a.secondaryBtn:hover {
        background-color: var(--clr-primary-3);
    }
  /* homepage style end */
  
/* about page */
#aboutHero {
    display: grid;
    padding: 10px;
    margin-top:  5rem;
}

#aboutHero .container {
    margin-bottom: 1rem;
}
#mission-section div.whoiam {
    border-radius:  100px  0 70px 0 ;
}
#mission-section div.mymission {
     border-radius:  0 100px 0 70px;

}
#mission-section div.myvision {
    border-radius:   0 70px 0 0;
 }
#mission-section div.myvision2 {
    border-radius: 70px 0 0;
 }
/* about page */
/* services page */
#serviceshero, #contactSection {
    margin-top: 3rem;
}
div.service {
    background: var(--clr-grey-8);
    padding: 12px;
    margin: 2rem 0;
    border: 1px solid var(--clr-grey-2);
}

div.service ul {
     background: var(--clr-grey-8);
    padding-left: 12px;
     margin: 1px ;
  }
div.service ul li {
     margin-left: 15px;
 }
#servicesSection div.service   a.servicelink {
    color: var(--accent-color);
    text-transform: capitalize;
    margin: 3rem 0;
 }
#servicesSection div.service   a.servicelink:visited {
    color: var(--accent-color);
    text-decoration: none;
}
#servicesSection div.service   a:link:hover {
    color: var(--accent-color);
    text-decoration: none;
}
.service h2 {
    margin-block: 1.2rem;
}

  /* services page style */
   .loopdiv h2#looph2 {
     padding: 0;
    margin: 1.5rem 0;
  }
  .loopdiv h2 > span {
    text-align: left;
    color: var(--accent-color);
    overflow: hidden;
    height: 1.25em;
    position: relative;
    vertical-align: bottom;
    display: inline-block;
    width: fit-content;
    padding: 0;
  }

  .loopdiv h2 > span > span {
    display: block;
    animation: looptext 5s infinite ease-in-out;
    animation-delay: 2s;
   }

  @keyframes looptext {
    0% {
        transform: translateY(0%)
    }
    25% {
        transform: translateY(-100%)
    }
    50% {
        transform: translateY(-200%)
    }
    75% {
        transform: translateY(-300%)
    }
    100% {
        transform: translateY(-400%)
    }
  }
  /* services page style */

  /* contact style */
 iframe {
    max-width: 100%;
    height: auto;
    margin: 2rem auto;
    border: 0;
 }
#contactSection {
    margin-top: 1rem;
padding: 12px;
}
#contactSection ul {
text-align: left;
padding: 20px;
}

#twoColumn {
    width: 100%;
    display: grid;
   gap: 1rem;
   grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
#leavemessage {
    width: 100%;
}
#leavemessage, #contactsection {
    padding: 12px;
    margin-bottom: 1rem; 
}
.alternateContact {
    margin: 2rem 0;
}
.alternateContact .rightalign {
    text-align:  right;
    padding-block: 6px;
}
#contactcta {
    margin-block: 30px 0;
}
/* media queries */



/* footer style */

footer {
    position: static;
    bottom: 0;
    left: 0;
    width: 100vw;
    padding:2rem;
}
footer li {
    list-style-type: none;
    margin: .55rem 0;
}
footer .footer-links li {
    list-style-type: none;
    margin-bottom: .55rem;
}
footer .footer-links li a:link {
    text-transform: capitalize;
    text-decoration: none;
    color: var(--background-color);
 }
footer .footer-links li a:visited {
     color: inherit;
 }
footer .footer-links li a:hover {
     color: var(--clr-primary-5);
     text-decoration: underline;
 }
footer div.linksContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: auto;
    gap:  1rem;
}
footer .footer-social-icons {
    font-size: 1.5rem;
    display: flex;
     align-items: center;
    justify-content: center;
    margin:.22rem auto;
}
.footer-social-icons li {
    list-style-type: none;
}
.footer-social-icons a {
    margin: 0 0.5rem;
    color: var(--clr-primary-5);
    transition: var(--transition);
}
.footer-social-icons a:hover {
    color: var(--clr-primary-7);
}
footer p {
    text-align: center;
    margin-top:  1.5rem;
}
footer p a {
    color: var(--clr-green-dark);
    text-decoration: none;
}
footer p a:visited {
    color: inherit;
}
footer p a:hover {
    text-decoration: underline;
}
/* media queries */
@media  screen and (max-width: 800px) {
    .social-icons {
         display: none;
    }
}

@media screen and (min-width: 801px) {

    h1 {
        font-size: 2.3rem;
      }
      h2 {
        font-size: 2rem;
      }
      h3 {
        font-size: 1.5rem;
      }
      h4 {
        font-size: 1rem;
      }
      body {
        font-size: 1rem;
      }
      h1,
      h2,
      h3,
      h4 {
        line-height: 1;
      }
       
    p {
        font-size: 1.15rem;
    }
    
    div.nav-center {
         margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
    }
    div.nav-header {
        padding: 0;
        justify-content: space-evenly;
        gap: 3rem;
    }
    .nav-toggle {
        display: none;
    }
    .links {
        height: auto;
        display: flex;
    }
    .links a {
        font-size: 1rem;
    padding: 0;
    margin: 0 0.5rem;
    }
    .links a:hover {
        padding: 0;
        background: transparent;
    }
    .footer-social-icons {
        
        display: none;
    }
    .social-icons {
        font-size: 1.5rem;
        display: flex;
    }
    .social-icons a {
        margin: 0 0.5rem;
        color: var(--clr-primary-5);
        transition: var(--transition);
    }
    .social-icons a:hover {
        color: var(--clr-primary-7);
    }
    .hero {
        text-align: center;
    }
    .service {
        text-align: center;
    }
    .alternateContact .rightalign {
    text-align:  center;
    padding-block: 6px;
}
p.centeralign, h2.centeralign {
    text-align: center;
}
 
    /* about style */
       article#serviceCardContainer, #mission-section {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
 }
 #locationsection {
    width: 1000px;
 }
 iframe {
    width: 1000px;
    height: 400px;
 }
}
@media screen and (min-width: 992px) {
    .hero {
      width: 95vw;
    }
    
  }
  .topScrollBtn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    background:var(--clr-primary-5);
    position: fixed;
    z-index: 50;
    bottom: 5rem;
    text-align: center;
    text-decoration: none;
    right: 3rem;
    padding: 10px;
    visibility: hidden;
  }
  a.topScrollBtn.showScrollBtn {
visibility: visible;
  }

  /* overlay */

  #overlay {
     inset: 0;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
     z-index: 9999;
     opacity: 1;
     transition: opacity 0.3s ease, visibility .3s ease;
     visibility: visible;
   }
  #overlay.hidden {
    opacity: 0;
    visibility: hidden;
  }
  #modalBox {
    z-index: 50;
    background-color: var(--clr-primary-9);
    color: var(--clr-grey-1);
    padding: 2rem;
    max-width: 400px;
    width: 90%;
    border-radius: 10px;
    text-align: center;
    position: relative;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
   }
   .closeModal {
    position: absolute;
    top: 10px;
    font-size: 2rem;
    right: 15px;
    border: none;
    background: transparent;
    cursor: pointer;
    color: var(--background-color);
   }
   /* modal form */
   #modalForm {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
   }
   #modalForm input {
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    border: 1px solid var(--clr-grey-1);
    border-radius: 5px;
    outline: none;
   }

   #modalForm input:focus {
    border-color: var(--accent-color);
   }
   #modalForm button {
    cursor: pointer;
    padding: 0.6rem 0;
    font-size: 1rem;
    color: var(--text-color);
    background-color: var(--clr-grey-2);
    border: none;
    border-radius: 5px;
   }
   #modalForm button:hover {
    background-color: var(--clr-grey-3);
   }
   #modalForm .modalError {
    color: var(--accent-color);
    font-size: 0.985rem;
    padding: 0;
    margin: 0;
   }
   @media  screen and (max-width: 480px) {
    #modalBox {
        padding: 1.5rem;
        width: 95%;
    }
   }