/* Basic reset */
*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Root style */
:root {
    --background-color:#0B0146;/* Deep Navy Blue */
    --accent-color:#EB2C39; /* bright Red */
    --gradient-start:#FA5C4F;/*  */
    --gradient-end:#B0162F;/*  */
    --primary-color:#F1F1F1;/* Light Grey */
    --text-color:#FFFFFF;/* White */
}
 
:root {
    /* dark shades of primary color*/
    --clr-primary-1: hsl(205, 86%, 17%);
    --clr-primary-2: hsl(205, 77%, 27%);
    --clr-primary-3: hsl(205, 72%, 37%);
    --clr-primary-4: hsl(205, 63%, 48%);
    /* primary/main color */
    --clr-primary-5: hsl(205, 78%, 60%);
    /* lighter shades of primary color */
    --clr-primary-6: hsl(205, 89%, 70%);
    --clr-primary-7: hsl(205, 90%, 76%);
    --clr-primary-8: hsl(205, 86%, 81%);
    --clr-primary-9: hsl(205, 90%, 88%);
    --clr-primary-10: hsl(205, 100%, 96%);
    /* darkest grey - used for headings */
    --clr-grey-1: hsl(209, 61%, 16%);
    --clr-grey-2: hsl(211, 39%, 23%);
    --clr-grey-3: hsl(209, 34%, 30%);
    --clr-grey-4: hsl(209, 28%, 39%);
    /* grey used for paragraphs */
    --clr-grey-5: hsl(210, 22%, 49%);
    --clr-grey-6: hsl(209, 23%, 60%);
    --clr-grey-7: hsl(211, 27%, 70%);
    --clr-grey-8: hsl(210, 31%, 80%);
    --clr-grey-9: hsl(212, 33%, 89%);
    --clr-grey-10: hsl(210, 36%, 96%);
    --clr-white: #fff;
    --clr-red-dark: hsl(360, 67%, 44%);
    --clr-red-light: hsl(360, 71%, 66%);
    --clr-green-dark: hsl(125, 67%, 44%);
    --clr-green-light: hsl(125, 71%, 66%);
    --clr-black: #222;
    --ff-primary: "Roboto", sans-serif;
    --ff-secondary: "Open Sans", sans-serif;
    --transition: all 0.3s linear;
    --spacing: 0.1rem;
    --radius: 0.25rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 1170px;
    --fixed-width: 620px;
  }
/* Font face */
@font-face {
    font-family: 'Montserrat';
    src: url(/fonts/Montserrat-ExtraBold.ttf) format('truetype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url(/fonts/Montserrat-Bold.ttf) format('truetype');
    font-weight: 700;
}
@font-face {
    font-family: 'Lato';
    src: url(/fonts/Lato-Light.ttf) format('truetype');
    font-weight: 300;
}
@font-face {
    font-family: 'Lato';
    src: url(/fonts/Lato-Regular.ttf) format('truetype');
    font-weight: 400;
}
/* General style */
html {
    scroll-behavior: smooth;
    font-size: 100%;
}
body {
    color: var(--clr-grey-1);
    background-color: var(--clr-grey-10);
    font: normal 300 .975rem / 1.5 'Lato', sans-serif;
}
h1, h2, h3 {
    letter-spacing: var(--spacing);
    line-height: 1.25;
    font-family: 'Montserrat';
    font-weight: 800;
    text-transform: capitalize;
    margin: 1.25rem 0;
}
h1 {font-size: 1.5rem;}
 
header {
    position: fixed;
    z-index: 100;
    height: auto;
    width: 100%;
}
 
/* navigation style */
 nav, footer {
    background-color: var(--clr-white);
    box-shadow: var(--light-shadow);
 }
 div.nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
 }
 .nav-toggle {
    font-size: 1.5rem;
    color: var(--clr-primary-5);
    background: transparent;
    border-color: transparent;
    transition: var(--transition);
    cursor: pointer;
 }
 .nav-toggle:hover{
    color: var(--clr-primary-1);
    transform: rotate(180deg);
 }
 .logo {
    height: 40px;
 }
 .links a {
    text-decoration: none;
    color: var(--clr-grey-3);
    font-size: 1rem;
    text-transform: capitalize;
    letter-spacing: var(--spacing);
    display: block;
    padding: 0.5rem .7rem;
    transition: var(--text-color);
 }
 .links a:visited {
text-decoration: none;
color: var(--clr-grey-4);
 }
 .links a:hover {
text-decoration: none;
color: var(--clr-primary-5);
background-color: var(--clr-primary-8);
padding-left: 1.5rem;
text-decoration: underline;
 }
 .links a:active {
    color: var(--clr-primary-1);
 }
 .links {
    height:0;
    overflow: hidden;
    transition: var(--transition);
 }
 .show-links {
    height: auto;
 }
 nav ul li {
    list-style-type: none;
 }
   
/* Main styles */
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--clr-primary-10);
    padding: 60px 0;
    margin-bottom: 5rem;
    transition: var(--transition);
    text-align: center;
}

.form:hover {
    display: block;
    box-shadow: var(--dark-shadow);
   transform:  scale(1.05);
}
.container {
    width: 90%;
    max-width: var(--max-width);
    margin: auto;
}
.h1-a {
    color: inherit;
    text-decoration: none;
}
/* buttons style */
 .btn {
    display: inline-block;
   background-color: rgb(40, 60, 80);
    color: var(--clr-white);
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
    margin-top: 1rem;
    width: fit-content;
    font-weight: 500;
    border-radius: 5px;
    text-decoration: none;
    outline: none;
    border: none;
    cursor:  pointer;
    transition: var(--transition);
    text-transform: capitalize;
}
  .btn:hover {
    transform: scale(1.10);
    box-shadow: var(--light-shadow);
    background-color: var(--clr-grey-3);
    color: var(--clr-primary-10);
 }
 div.btns {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    justify-content: space-between;
 }
 /* GENERAL SECTION REVIEWS STYLES */

img#aboutImg {
    display: block;
    height: auto;
    max-width: 100%;
    border-radius: 20px;
}
 article.review {
     padding: 1.5rem 2rem;
     border-radius: var(--radius);
     box-shadow: var(--light-shadow);
     transition: var(--transition);
  } 
 article.review:hover {
     box-shadow: var(--dark-shadow); 
 } 
#Reviews > article.review {
    text-align: center;
}
  section.section-container {
    display: grid;
    place-items: center;
    width: 80vw;
    max-width: var(--fixed-width);
    margin-bottom: 1.2rem;
  }
 .title {
    text-align: center;
    margin-bottom: 3rem;
 }
 .underline {
    background-color: var(--background-color);
    margin-left: auto;
    margin-right: auto;
    height: 0.25rem;
    width: 10rem;
 }
 #image-container {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 1.5rem;
 }
 #person-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    position: relative;
 }/* 
 #img-container::after {
    font-family: "Lato";
  font-weight: 900;
  content: "\f10e";
  position: absolute;
    position: absolute;
    display: grid;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
    place-items: center;
    border-radius: 50%;
    background-color:red;
    color: var(--clr-white);
    transform: translateY(25%)
 }
 #img-container::before {
    content: "";
    width: auto;
    height:auto;
    background: var(--clr-primary-5);
    position: absolute;
    top: -0.25rem;
    right: -0.25rem;
    border-radius: 50%;
  } */
  #author {
    margin-bottom: .25rem;
  }
  #job {
    margin-bottom: .25rem;
    text-transform: uppercase;
    font-size: 0.85rem;
    color: var(--clr-primary-4);
  }
   .prev-btn, .next-btn {
    background: transparent;
    border-color: transparent;
    font-size: 1.26rem;
    cursor: pointer;
    color: var(--clr-primary-7);
    margin: 0 0.5rem;
    transition: var(--transition);
  }
 /* SECTION REVIEWS STYLES */

 /* footer */
footer {
    position: static;
    bottom: 0;
    left: 0;
    width: 100vw;
    padding:2rem;
}
.footer-social-icons {
    font-size: 1.5rem;
    display: flex;
}
.footer-social-icons li {
    list-style-type: none;
}
.footer-social-icons a {
    margin: 0 0.5rem;
    color: var(--clr-primary-5);
    transition: var(--transition);
}
.footer-social-icons a:hover {
    color: var(--clr-primary-7);
}

main {
    min-height: 100vh;
    display: grid;
    place-items: center;
  }
  .hero {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
  }
  /* homepage style */

  #homeHero {
    position: relative;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
background-image: url(images/childcoding.jpg);
  }
  
  #homeHero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6)
  }

#homeHero .container {
    line-height: 1.5;
    max-width: 600px;
    padding: 2rem;
    color: white;
    position: relative;
    z-index: 1;
}

/* #homeHero .container p {
    padding-block : 1.3rem
} */
  /* homepage style */
 iframe {
    max-width: 100%;
    height: auto;
    margin: 1.5rem auto;
    border: 0;
 }

  /* services page style */
   .loopdiv h2#looph2 {
     padding: 0;
    margin: 1.5rem 0;
  }
  .loopdiv h2 > span {
    text-align: left;
    color: var(--clr-green-dark);
    overflow: hidden;
    height: 1.25em;
    position: relative;
    vertical-align: bottom;
    display: inline-block;
    width: fit-content;
    padding: 0;
  }

  .loopdiv h1 > span > span {
    display: block;
    animation: looptext 5s infinite ease-in-out;
    animation-delay: 2s;
   }

  @keyframes looptext {
    0% {
        transform: translateY(0%)
    }
    25% {
        transform: translateY(-100%)
    }
    50% {
        transform: translateY(-200%)
    }
    75% {
        transform: translateY(-300%)
    }
    100% {
        transform: translateY(-400%)
    }
  }
  /* services page style */
/* media queries */

@media  screen and (max-width: 800px) {
    .social-icons {
         display: none;
    }
}

@media screen and (min-width: 800px) {
    h1 {
        font-size: 2.5rem;
      }
      h2 {
        font-size: 2.3rem;
      }
      h3 {
        font-size: 1.75rem;
      }
      h4 {
        font-size: 1rem;
      }
      body {
        font-size: 1rem;
      }
      h1,
      h2,
      h3,
      h4 {
        line-height: 1;
      }
       
    p {
        font-size: 1.2rem;
    }
    
    div.nav-center {
         margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
    }
    div.nav-header {
        padding: 0;
        justify-content: space-evenly;
        gap: 3rem;
    }
    .nav-toggle {
        display: none;
    }
    .links {
        height: auto;
        display: flex;
    }
    .links a {
        font-size: 1.5rem;
    padding: 0;
    margin: 0 0.5rem;
    }
    .links a:hover {
        padding: 0;
        background: transparent;
    }
    .footer-social-icons {
        
        display: none;
    }
    .social-icons {
        font-size: 1.5rem;
        display: flex;
    }
    .social-icons a {
        margin: 0 0.5rem;
        color: var(--clr-primary-5);
        transition: var(--transition);
    }
    .social-icons a:hover {
        color: var(--clr-primary-7);
    }
}
@media screen and (min-width: 992px) {
    .hero {
      width: 95vw;
    }
    
  }